# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
                * list of popular data science languages
                * list of popular data science libraries
                * list of popular data science tools

### Some of the popular languages that Data Scientists use are: 
        1.python
        2.R
        3.julia

# Some of the commonly used libraries used by Data Scientists include:
        1.pandas
        2.tensorflow
        3.matplotlib

    | Data Science Tools  |
    |---------------------|
    |    Rstudio          |
    |  jupyter notebook   |
    |  v s code           |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

#### Author
###### mikey